
body{
    max-width: 1440px;
    min-width: 375px;
    margin: 3.4rem auto;
    padding:0;
   
    
    
    font-family: 'Open Sans', sans-serif;
}
.desktop{   
   
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
}


/* start of navbar */
.navbar{
    margin: 20px auto 30px;
    padding: 0 100px;
}
.navbar img{
    display: inline-block;
}

.navbar ol{
    float: right;
    list-style: none;
    display: inline-block;
    text-decoration: none;
}
.navbar a{

        text-decoration: none;
        
}

.navbar ol li{
    display: inline-block;
    margin: auto 20px;
}

/* start of top container */
.top-container{
    margin-top: 4.5rem;
}
.top-container-row-1{
    margin-bottom: 15rem;
    padding: 0 6.25rem;
}
.backlay{
    
    background: #F8F8FE;
}


.illustration-1{
    width:50% ;
    float: right;
    margin-left: 5rem;
}
.illustration-2{
    height: 25rem;
    float: right;
    margin-left: 11rem;
}

.top-container-row-1 input{
    height: 2.5rem;
    width: 16.4rem;
    padding-left: 20px;
    border-color: rgba(230, 146, 160, 0.493);
    border-style: solid;
    border-radius: 3px;
    
}

 .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 1rem 3.5rem 1rem 3.5rem;
    text-decoration: none;
    border: none;
    margin-left: 10px;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .email-val{
    margin-top: 0px;
    font-size: 12px;
    color:rgba(230, 146, 160, 0.493);
  }
  
  .top-container-row-2{
     padding: 100px;
  }

  .top-container-row-2 .testmonial{
    box-shadow: 0px 0px 15px 0px  rgba(173, 170, 170, 0.397);
    border-radius: 5px;
    background-color: white;  
    width: 23%;
    padding: 1.5rem 2rem;
    font-size: 0.85rem;
    line-height: 1.5;
    font: bold;
    margin-top: 3rem;
    
  }

  .testmonial img{
      float: left;
      margin-right: 10px;
  }
  .testmonial .name{
      font-size: 0.6rem;
      margin-top: 0px;
     
  }
  h5{
    margin: 0;
  }

  /* start of middle container */

  .middle-container{
      color: hsl(240, 75%, 98%);
      background: hsl(238, 22%, 44%);
      padding: 5rem 6.25rem;
  }
  .middle-container input{
    height: 2rem;
    width: 25rem;
    padding-left: 20px;
    border-color: rgba(230, 146, 160, 0.493);
    border-style: solid;
    border-radius: 3px;
    
  }

/* start of bottom container */

.bottom-container{

    background: hsl(243, 87%, 12%);
    color: white;
    padding: 6.25rem 6.25rem  3.25rem ;
    
    
}
ul{
    list-style: none;
    line-height: 2.5rem;
    padding-left: 0 ; 
    
}
.footer-row td{
    width:20rem;
}
.social a{
    padding: 5px;
}
.social img{
    margin-top: 10px;
}

.aks{
    position: relative;
}

.aks::before{
    content: "";
    position: absolute;
    background:url(/img/bg-curve-desktop.svg);
    height: 114px;
    width:1440px ;
}

 
